@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h4 style="padding-top:40px">To test the reconnection, from Visual Studio :</h4>
<ul>
	<li>Run the project without debugging (Start Without Debugging CTRL+F5)</li>
	<li>Close the output window:</li>
</ul> 
<img src="close-output-window.jpg" />

<h4 style="padding-top:40px">To test translation :</h4>
<ul>
	<li>Go to your browser settings.</li>
	<li>Put French or English at the top of the list.</li>
	<li>Run the app again.</li>
</ul>
<img src="chromium-settings-languages.jpg" />